# basic

In [26]:
mode(12)

[1] "numeric"

In [27]:
mode(c(1:5))

[1] "numeric"

In [28]:
length(5)

[1] 1

In [29]:
length(c(3:5))

[1] 3

## Using mirrors

In [1]:
options("repos")

$repos
                         CRAN
"https://cloud.r-project.org"

In [2]:
options(repos="https://mirrors.tuna.tsinghua.edu.cn/CRAN/")

In [3]:
options("repos")

$repos
[1] "https://mirrors.tuna.tsinghua.edu.cn/CRAN/"

## dataframe

In [1]:
metallicaNames = c("Lars", "James", "Kirk", "Rob")
metallicaAges = c(47,47,48,46)

In [2]:
metallica <- data.frame(Name = metallicaNames, Age=metallicaAges)
metallica

  Name  Age
1 Lars  47
2 James 47
3 Kirk  48
4 Rob   46

In [3]:
metallica$Age

[1] 47 47 48 46

In [4]:
metallica$childAge = c(12,12,4,6)
metallica

  Name  Age childAge
1 Lars  47  12
2 James 47  12
3 Kirk  48   4
4 Rob   46   6

In [5]:
names(metallica)

[1] "Name"     "Age"      "childAge"

## matrix

In [6]:
matrix(0,2,5)

     [,1] [,2] [,3] [,4] [,5]
[1,] 0    0    0    0    0
[2,] 0    0    0    0    0

In [10]:
m = matrix(c(3:14), nrow=4, byrow=TRUE)
m

     [,1] [,2] [,3]
[1,]  3    4    5
[2,]  6    7    8
[3,]  9   10   11
[4,] 12   13   14

In [30]:
rownames = c('row1','row2','row3','row4')
colnames = c('col1', 'col2', 'col3')

## path

In [31]:
getwd()

[1] "/home/cbs/Documents/code/learn_r/src"

## vector

In [31]:
vector1 = c(1,3,5,7,9)
vector1

[1] 1 3 5 7 9

In [33]:
vector2 = rep(1,5)
vector2

[1] 1 1 1 1 1

In [34]:
vector3 = seq(1,9,by=2)
vector3

[1] 1 3 5 7 9

In [35]:
vector4 = seq(1,5,length=10)
vector4

 [1] 1.000000 1.444444 1.888889 2.333333 2.777778 3.222222 3.666667 4.111111
 [9] 4.555556 5.000000

In [36]:
v = seq(1,5)
v

[1] 1 2 3 4 5

In [37]:
v[1:3]

[1] 1 2 3

In [40]:
-c(1,2)

[1] -1 -2

In [50]:
v[-c(1,2)]

[1] 3 4 5

## factor

In [42]:
factor(c(1,1,2,3,5,8))

[1] 1 1 2 3 5 8
Levels: 1 2 3 5 8

## dataset

In [34]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [37]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [43]:
min(mtcars$mpg)

[1] 10.4

In [44]:
median(mtcars$mpg)

[1] 19.2

In [48]:
sd(mtcars$mpg)

[1] 6.026948

In [49]:
summary(mtcars)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

In [4]:
rowSums(mtcars)

          Mazda RX4       Mazda RX4 Wag          Datsun 710      Hornet 4 Drive
            328.980             329.795             259.580             426.135
  Hornet Sportabout             Valiant          Duster 360           Merc 240D
            590.310             385.540             656.920             270.980
           Merc 230            Merc 280           Merc 280C          Merc 450SE
            299.570             350.460             349.660             510.740
         Merc 450SL         Merc 450SLC  Cadillac Fleetwood Lincoln Continental
            511.500             509.850             728.560             726.644
  Chrysler Imperial            Fiat 128         Honda Civic      Toyota Corolla
            725.695             213.850             195.165             206.955
      Toyota Corona    Dodge Challenger         AMC Javelin          Camaro Z28
            273.775             519.650             506.085             646.280
   Pontiac Firebird           Fiat X1-9       Porsche 914-2        Lotus Europa
            631.175             208.215             272.570             273.683
     Ford Pantera L        Ferrari Dino       Maserati Bora          Volvo 142E
            670.690             379.590             694.710             288.890

In [5]:
colSums(mtcars)

     mpg      cyl     disp       hp     drat       wt     qsec       vs
 642.900  198.000 7383.100 4694.000  115.090  102.952  571.160   14.000
      am     gear     carb
  13.000  118.000   90.000

In [7]:
apply(mtcars,1,mean)

          Mazda RX4       Mazda RX4 Wag          Datsun 710      Hornet 4 Drive
           29.90727            29.98136            23.59818            38.73955
  Hornet Sportabout             Valiant          Duster 360           Merc 240D
           53.66455            35.04909            59.72000            24.63455
           Merc 230            Merc 280           Merc 280C          Merc 450SE
           27.23364            31.86000            31.78727            46.43091
         Merc 450SL         Merc 450SLC  Cadillac Fleetwood Lincoln Continental
           46.50000            46.35000            66.23273            66.05855
  Chrysler Imperial            Fiat 128         Honda Civic      Toyota Corolla
           65.97227            19.44091            17.74227            18.81409
      Toyota Corona    Dodge Challenger         AMC Javelin          Camaro Z28
           24.88864            47.24091            46.00773            58.75273
   Pontiac Firebird           Fiat X1-9       Porsche 914-2        Lotus Europa
           57.37955            18.92864            24.77909            24.88027
     Ford Pantera L        Ferrari Dino       Maserati Bora          Volvo 142E
           60.97182            34.50818            63.15545            26.26273

In [8]:
?apply

## Dates

In [53]:
husbands = as.Date(c("1973-06-21", "1970-07-16", "1949-10-08", "1969-05-24"))
wifes = as.Date(c("1984-11-12", "1973-08-02", "1948-11-11", "1983-07-23"))
agegap = husbands - wifes
agegap

Time differences in days
[1] -4162 -1113   331 -5173

## apply()

In [86]:
# ?apply()

In [83]:
x = cbind(x1=3, x2=c(4:1, 2:5))
x

     x1 x2
[1,] 3  4
[2,] 3  3
[3,] 3  2
[4,] 3  1
[5,] 3  2
[6,] 3  3
[7,] 3  4
[8,] 3  5

In [84]:
apply(x,2,mean)

x1 x2
 3  3

In [85]:
apply(x,1,mean)

[1] 3.5 3.0 2.5 2.0 2.5 3.0 3.5 4.0

In [87]:
?lapply()

In [94]:
lapply(x,sqrt)

[[1]]
[1] 1.732051

[[2]]
[1] 1.732051

[[3]]
[1] 1.732051

[[4]]
[1] 1.732051

[[5]]
[1] 1.732051

[[6]]
[1] 1.732051

[[7]]
[1] 1.732051

[[8]]
[1] 1.732051

[[9]]
[1] 2

[[10]]
[1] 1.732051

[[11]]
[1] 1.414214

[[12]]
[1] 1

[[13]]
[1] 1.414214

[[14]]
[1] 1.732051

[[15]]
[1] 2

[[16]]
[1] 2.236068

In [95]:
?rapply()

In [21]:
?mode()

In [22]:
?class()

## list

In [69]:
l = list(1,"123",c(1,2,3))
l

[[1]]
[1] 1

[[2]]
[1] "123"

[[3]]
[1] 1 2 3

In [75]:
t = l[3]
t

[[1]]
[1] 1 2 3

In [76]:
mode(t)

[1] "list"

In [77]:
t = unlist(t)
t

[1] 1 2 3

In [78]:
mode(t)

[1] "numeric"

In [79]:
t[1]

[1] 1

In [80]:
l[[3]]

[1] 1 2 3

In [81]:
l[[3]][1]

[1] 1

In [29]:
unlists = unlist(l)
unlists

[1] "1"   "123"

In [43]:
?paste()

In [44]:
?gsub()